/* ==========================================================================
	 Основные стили сайта
	 ========================================================================== */

/* Typography */
html, body {margin:0px; padding:0px; font-family:'Arial'; font-size:14px; line-height:18px; color:#000; background:#fff; height:100%;}
html.fancybox-lock {overflow:visible !important;}
html.fancybox-lock body {position:relative;}
a {color:#000000; outline:none; text-decoration:none;}
a:hover {text-decoration:none;}
a img {border:none;}
img {vertical-align:middle;}
hr {display:block; height:1px; border:0 none; border-top:1px solid #ccc; margin:0px; padding:0px;}
p {margin:0px 0px; padding:0px;}
h1 {font-size:36px; line-height:42px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h2 {font-size:24px; line-height:30px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h3 {font-size:18px; line-height:24px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
menu {margin:0px; padding:0px; list-style-type:none;}
ul {margin:0; padding:0px; list-style-type:disc;}
ol {margin:25px 0px 25px 30px; padding:0px; list-style-type:decimal;}
ol li, ul li {margin:0px; padding:0px; list-style-type: none;}
ol ol, ul ul {margin:6px 0px 6px 30px;}
form {margin:0px; padding:0px;}
button, input, select, textarea {outline:none; font-family:'arial';}
textarea {overflow:auto; resize: vertical;}
table {margin:0px; padding:0px; border:none; border-collapse:collapse;}
table td, table th {margin:0px; padding:0px; border:none; border-collapse:collapse; text-align:left; vertical-align:top; font-weight:normal;}
input {outline:none;}

/* General */
main {min-height:100%;}
.clear.clear-footer {height:100px;}
.site-wrap {width: 1199px; margin: 0 auto; padding: 0 15px;}
.container { min-width: 1199px; position: relative; min-height: 100%;}


/* Header */
header {width:100%;}


/* Footer */
/*footer {position:absolute;left: 0;bottom: 0;width: 100%;height: 761px;}*/

/*MAIN-PAGE-TITLE*/
.main-page-title h1{
	position: relative;
	width: 377px;
	font-family: 'LitteraPlainBold';
	font-size: 66px;
	line-height: 72px;
	color: #fff;
}

.main-page-title h1::after {
	position: absolute;
	content: '';
	width: 83px;
	height: 6px;
	top: 33px;
	left: -100px;
	background-color: #ffa500;
}

.default-btn {
	font-family: 'LitteraPlainBold';
	border: 1px solid rgba(255, 255, 255, .5);
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
}


/* ==========================================================================
	 Вспомогательные стили
	 ========================================================================== */
/*.clearfix {display:inline-block; //display:inline; //zoom:1; width:100%;}*/
.show {display:block;}
.hide {display:none;}
.invisible {visibility:hidden;}
.clear {margin:0px; padding:0px; font-size:0px; line-height:0px; height:1px; clear:both; float:none;}
.clear-m {margin: 0;}
.clear-p {padding: 0;}
.unstyle-list {margin: 0;list-style-type: none;}
.clearfix:after {content: "";	display: table;	clear: both;}


::-ms-reveal {display:none;}


/* ==========================================================================
	 Стили для печати
	 ========================================================================== */

@media print {
		*, *:before, *:after, *:first-letter, *:first-line {background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important;}
		a, a:visited {text-decoration: underline;}
		a[href]:after {content: " (" attr(href) ")";}
		abbr[title]:after {content: " (" attr(title) ")";}
		a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}
		pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
		thead {display: table-header-group;}
		tr, img {page-break-inside: avoid;}
		img {max-width: 100% !important;}
		p, h2, h3 {orphans: 3; widows: 3;}
		h2, h3 {page-break-after: avoid;}
}


/* ==========================================================================
	 Начало CSS >>>
	 ========================================================================== */
/* ==========================================================================
	 Header >>>
	 ========================================================================== */
.block-header .header-wrapper {
	padding-top: 50px;
}

.block-header .header-logotype {
	float: left;
	width: 33%;
}

.block-header .header-tel {
	float: left;
	width: 31%;
	position: relative;
	padding-right: 45px;
	padding-top: 22px;
	font-family: 'LitteraPlainBook';
	font-size: 32px;
	letter-spacing: 2px;
	line-height: 36px;
	color: #fff;
}

.block-header .header-tel a{
	color: #fff;
	transition: all .3s ease-in;
}

.block-header .header-tel a:hover{
	color: #ffa500;
}

.block-header .header-tel-callback {
	position: absolute;
	content: '';
	width: 26px;
	height: 21px;
	top: 31px;
	left: 284px;
	background:	url("../images/svg/callback.svg") 0 0 no-repeat;
	cursor: pointer;
}

.block-header .header-add-request {
	float: left;
	width: 20%;
	padding-top: 19px;
	padding-top: 19px;
}

.block-header .add-request-btn {
	display: inline-block;
	vertical-align: top;
	width: 187px;
	height: 44px;
	font-size: 14px;
	position: relative;
	transition: all 1s;
}


.block-header .add-request-btn span {
	position: absolute;
	top: 13px;
	left: 25px;
	width: 140px;
	z-index: 999;
}

.block-header .add-request-btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: #ffa500;
	transition: all 1s;
}

.block-header .add-request-btn:hover::before, .block-header .add-request-btn:focus::before {
	height: 43px;
}


.block-header .header-burder {
	float: right;
	width: 10%;
	padding-top: 29px;
	text-align: right;
}

.block-header .burger-btn {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	border: none;
	width: 49px;
	height: 25px;
	cursor: pointer;
	background-color: transparent;
}

.block-header .burger-btn .line1{
	width: 49px;
	height: 3px;
	margin-bottom: 8px;
	background-color: #fff;
}

.block-header .burger-btn .line2{
	width: 38px;
	height: 3px;
	margin-bottom: 8px;
	background-color: #fff;
}

.block-header .burger-btn .line3{
	width: 44px;
	height: 3px;
	background-color: #fff;
}


/* ==========================================================================
	 Footer >>>
	 ========================================================================== */
.block-footer {
	background-color: #171524;
}

.block-footer .footer-wrapper {
	padding-top: 101px;
	padding-bottom: 30px;
}

.block-footer .column-left {
	float: left;
	width: 60%;
}

.block-footer .column-right {
	float: right;
	width: 40%;
}

.block-footer .footer-copyright {
	float: left;
	width: 40%;
	padding-top: 10px;
	font-family: 'LitteraPlainLight';
	font-size: 16px;
	color: #464262;
}

.block-footer .logo {
	display: block;
	margin-bottom: 3px;
}

.block-footer .logo-description {
	font-size: 14px;
	color: #626263;
}

.footer-description {
	margin-bottom: 70px;
}

.block-footer .footer-menu {
	float: left;
	width: 60%;
	padding-top: 10px;
	padding-left: 20px;
}

.block-footer .footer-menu a {
	font-family: 'LitteraPlainMedium';
	font-size: 16px;
	color: #fff;
}

.block-footer .footer-menu a:hover{
	text-decoration: underline;
}

.block-footer .footer-menu menu {
	width: 100%;
}

.block-footer li {
	width: 50%;
	margin-bottom: 18px;
	float:left;
	display: inline;
}

.block-footer .footer-tel {
	float: right;
	position: relative;
	width: 50%;
	font-family: 'LitteraPlainBook';
	font-size: 25px;
	line-height: 36px;
	letter-spacing: 1px;
	color: #fff;
	text-align: left;
}


.block-footer .footer-tel a{
	position: relative;
	color: #fff;
	transition: all .3s ease-in;
}

.block-footer .footer-tel a:hover{
	color: #ffa500;
}

.block-footer .footer-tel-callback {
	position: absolute;
	content: '';
	width: 25px;
	height: 20px;
	top: 9px;
	left: 223px;
	background:	url("../images/svg/callback_footer.svg") 0 0 no-repeat;
	cursor: pointer;
}

.block-footer .footer-add-request {
	float: right;
	width: 50%;
	text-align: right;
}

.block-footer .add-request-btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 168px;
	height: 40px;
	font-family: 'LitteraPlainBold';
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .5);
	transition: all 1s;
}

.block-footer .add-request-btn:hover::before, .block-footer.add-request-btn:focus::before {
	height: 40px;
}

.block-footer .add-request-btn span {
	position: absolute;
	top: 11px;
	left: 22px;
	width: 127px;
	z-index: 999;
}

.block-footer .add-request-btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: #ffa500;
	transition: all 1s;
}

/* ==========================================================================
	 404 Page >>>
	 ========================================================================== */

main.errorpage {
	min-height: 890px;
	background: #171524 url("../images/bg_image_404.jpg") center center no-repeat;
	background-size: cover;
}

.block-errorpage {
	padding-top: 86px;
}

.errorpage-wrapper {
	padding-left: 100px;
}

.block-errorpage .errorpage-title {
	position: relative;
	width: 377px;
	margin-bottom: 40px;
	font-family: 'LitteraPlainBold';
	font-size: 66px;
	line-height: 72px;
	color: #fff;
}


.block-errorpage .errorpage-title::after {
	position: absolute;
	content: '';
	width: 83px;
	height: 6px;
	top: 33px;
	left: -100px;
	background-color: #ffa500;
}

.block-errorpage .errorpage-description {
	width: 758px;
	margin-bottom: 47px;
	font-family: 'LitteraPlainLight';
	font-size: 24px;
	line-height: 36px;
	color: #fff;
}

.block-errorpage .errorpage-description a{
	color: #ffa500;
}

.block-errorpage .errorpage-description a:hover{
	text-decoration: underline;
}

.block-errorpage .errorpage-menu a{
	font-family: 'LitteraPlainLight';
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-errorpage .errorpage-menu a:hover{
	text-decoration: underline;
}

/* ==========================================================================
	 Events Page >>>
	 ========================================================================== */

.block-events {
	padding-bottom: 77px;
	background-color: #171524;
}

.main-page-title.events {
	padding-top: 102px;
	padding-left: 100px;
}

.bg-wrapper.events {
	min-height: 485px;
	background: #171524 url("../images/cover_image_event_detail.jpg") center right no-repeat;
	background-size: cover;
}

.block-events .events-main {
	display: block;
	padding-bottom: 93px;
	position: relative;
	width: 100%;
	cursor: pointer;
}

.events-main-image {
	position: absolute;
	top: -38px;
	left: 0;
	width: 50%;
}

.events-main-text {
	float: right;
	padding-top: 36px;
	width: 50%;
	padding-left: 13px;
}

.events-main-title {
	margin-bottom: 25px;
	font-family: 'LitteraPlainBold';
	font-size: 36px;
	line-height: 44px;
	color: #ffa500;
}

.events-main-description {
	font-family: 'LitteraPlainLight';
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
	margin-bottom: 8px;
}

.events-main-date {
	font-family: 'LitteraPlainLight';
	font-size: 18px;
	line-height: 48px;
	color: #504b6e;
}

.events-items-wrapper {
	margin-bottom: 63px;
}

.events-items {
	font-size: 0;
}

.events-items .events-item {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 60px;
	font-family: 'LitteraPlainLight';
	font-size: 16px;
	line-height: 28px;
	cursor: pointer;
}

.events-items .events-item img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.events-items .events-item:nth-child(3n) {
	margin-right: 0;
}

.item-wrapper {
	padding: 23px 30px 40px 30px;
	transition: all .3s ease-in;
}

.events-item:hover .item-wrapper {
	background-color: #ffa500;
}

.events-item .text {
	margin-bottom: 28px;
	color: #ffffff;
}

.events-item .date {
	color: #504b6e;
}


.events-show-more {
	text-align: center;
}

.block-events .events-show-more-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 52px;
	width: 199px;
	padding-top: 5px;
	font-size: 18px;
	line-height: 36px;
	text-transform: none;
	transition: all 1s;
}

.block-events .events-show-more-btn:hover::before, .block-events.events-show-more-btn:focus::before {
	height: 52px;
}

.block-events .events-show-more-btn span {
	position: absolute;
	top: 6px;
	left: 34px;
	width: 127px;
	z-index: 999;
}

.block-events .events-show-more-btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: #ffa500;
	transition: all 1s;
}

/* ==========================================================================
	 block-subscribe >>>
	 ========================================================================== */
.block-subscribe {
	text-align: center;
}

.block-subscribe .subscribe-wrapper, .block-subscribe .subscribe-success-wrapper {
	display: inline-block;
	vertical-align: top;
}

.block-subscribe .subscribe-wrapper {
	padding-top: 56px;
	padding-bottom: 71px;
}

.block-subscribe .subscribe-title {
	margin-bottom: 13px;
	font-family: 'LitteraPlainLight';
	font-size: 18px;
	line-height: 44px;
	color: #171524;
}

.block-subscribe .form-wrapper {
	font-size: 0;
}

.block-subscribe .email {
	width: 372px;
	padding: 0 21px;
	font-family: 'LitteraPlainLight';
	font-size: 18px;
	line-height: 44px;
	color: #9a9a9a;
	border: 1px solid #c5c4c8;
	border-right: none;
}

.block-subscribe .submit {
	padding: 5px 31px;
	font-family: 'LitteraPlainBold';
	font-size: 18px;
	line-height: 36px;
	color: #ffffff;
	background-color: #f19c03;
	border: none;
}

.block-subscribe .subscribe-success-wrapper {
	display: none;
	padding-top: 61px;
	padding-bottom: 68px;
}

.block-subscribe .form-wrapper {
	text-align: left;
}

.subscribe-success-title {
	margin-bottom: 5px;
	font-family: 'LitteraPlainRegular';
	font-size: 20px;
	line-height: 38px;
	color: #f19c03;
}

.subscribe-success-text {
	width: 500px;
	font-family: 'LitteraPlainLight';
	font-size: 16px;
	line-height: 29px;
	color: #171524;
}
