/* ==========================================================================
	 Основные стили сайта
	 ========================================================================== */

/* Typography */
html, body {margin:0px; padding:0px; font-family:'Arial'; font-size:14px; line-height:18px; color:#000; background:#fff; height:100%;}
html.fancybox-lock {overflow:visible !important;}
html.fancybox-lock body {position:relative;}
a {color:#000000; outline:none; text-decoration:none;}
a:hover {text-decoration:none;}
a img {border:none;}
img {vertical-align:middle;}
hr {display:block; height:1px; border:0 none; border-top:1px solid #ccc; margin:0px; padding:0px;}
p {margin:0px 0px; padding:0px;}
h1 {font-size:36px; line-height:42px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h2 {font-size:24px; line-height:30px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h3 {font-size:18px; line-height:24px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
menu {margin:0px; padding:0px; list-style-type:none;}
ul {margin:0; padding:0px; list-style-type:disc;}
ol {margin:25px 0px 25px 30px; padding:0px; list-style-type:decimal;}
ol li, ul li {margin:0px; padding:0px; list-style-type: none;}
ol ol, ul ul {margin:6px 0px 6px 30px;}
form {margin:0px; padding:0px;}
button, input, select, textarea {outline:none; font-family:'arial';}
textarea {overflow:auto; resize: vertical;}
table {margin:0px; padding:0px; border:none; border-collapse:collapse;}
table td, table th {margin:0px; padding:0px; border:none; border-collapse:collapse; text-align:left; vertical-align:top; font-weight:normal;}
input {outline:none;}

/* General */
main {min-height:100%;}
.clear.clear-footer {height:100px;}
.site-wrap {max-width: 1450px; min-width: 1169px; padding: 0 15px; margin: 0 auto;}
.container { position: relative; min-height: 100%;}


/* Header */
header {width:100%;}


/* Footer */
/*footer {position:absolute;left: 0;bottom: 0;width: 100%;height: 761px;}*/



/* ==========================================================================
	 Вспомогательные стили
	 ========================================================================== */
/*.clearfix {display:inline-block; //display:inline; //zoom:1; width:100%;}*/
.show {display:block;}
.hide {display:none;}
.invisible {visibility:hidden;}
.clear {margin:0px; padding:0px; font-size:0px; line-height:0px; height:1px; clear:both; float:none;}
.clear-m {margin: 0;}
.clear-p {padding: 0;}
.unstyle-list {margin: 0;list-style-type: none;}
.clearfix:after {content: "";	display: table;	clear: both;}


::-ms-reveal {display:none;}


/* ==========================================================================
	 Стили для печати
	 ========================================================================== */

@media print {
		*, *:before, *:after, *:first-letter, *:first-line {background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important;}
		a, a:visited {text-decoration: underline;}
		a[href]:after {content: " (" attr(href) ")";}
		abbr[title]:after {content: " (" attr(title) ")";}
		a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}
		pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
		thead {display: table-header-group;}
		tr, img {page-break-inside: avoid;}
		img {max-width: 100% !important;}
		p, h2, h3 {orphans: 3; widows: 3;}
		h2, h3 {page-break-after: avoid;}
}


/* ==========================================================================
	 Начало CSS >>>
	 ========================================================================== */
/* ==========================================================================
	 Header >>>
	 ========================================================================== */
.block-header .header-wrapper {
	padding-top: 50px;
}

.block-header .header-logotype {
	display: inline-block;
	vertical-align: middle;
	margin-right: 94px;
}

.block-header .header-tel {
	position: relative;
	padding-right: 38px;
	margin-right: 100px;
	font-family: 'LitteraPlainBook';
	font-size: 33px;
	line-height: 36px;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}

.block-header .header-tel a{
	color: #fff;
}

.block-header .header-tel-callback {
	position: absolute;
	content: '';
	width: 26px;
	height: 21px;
	top: 9px;
	left: 252px;
	background:	url("../images/svg/callback.svg") 0 0 no-repeat;
	cursor: pointer;
}

.block-header .header-add-request {
	display: inline-block;
	vertical-align: middle;
}

.block-header .add-request-btn {
	padding: 0;
	margin: 0;
	display: inline-block;vertical-align: top;
	width: 187px;
	height: 44px;
	position: relative;
	font-family: 'LitteraPlainBold';
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .5);
}

.block-header .add-request-btn span {
	position: absolute;
	top: 11px;
	left: 27px;
	width: 130px;
	z-index: 999;
}

.block-header .add-request-btn .bg {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 44px;
	background-color: #ffa500;
}

.block-header .header-burder {
	float: right;
	padding-top: 29px;
}

.block-header .burger-btn {
	padding: 0;
	border: none;
	width: 49px;
	height: 25px;
	cursor: pointer;
	background-color: transparent;
}

/* ==========================================================================
	 Footer >>>
	 ========================================================================== */
.block-footer {
	background-color: #171524;
}

.block-footer .footer-wrapper {
	padding-top: 81px;
	padding-bottom: 20px;
}

.block-footer .column-left {
	float: left;
	width: 60%;
}

.block-footer .column-right {
	float: right;
	width: 40%;
}

.block-footer .footer-copyright {
	float: left;
	width: 40%;
	font-family: 'LitteraPlainLight';
	font-size: 16px;
	color: #464262;
}

.block-footer .logo {
	display: block;
	margin-bottom: 3px;
}

.block-footer .logo-description {
	font-size: 14px;
	color: #626263;
}

.footer-description {
	margin-bottom: 70px;
}

.block-footer .footer-menu {
	float: left;
	width: 60%;
	padding-left: 20px;
}

.block-footer .footer-menu a {
	font-family: 'LitteraPlainMedium';
	font-size: 16px;
	color: #fff;
}

.block-footer .footer-menu menu {
	width: 100%;
}

.block-footer li {
	width: 50%;
	margin-bottom: 18px;
	float:left;
	display: inline;
}

.block-footer .footer-tel {
	float: right;
	position: relative;
	width: 50%;
	font-family: 'LitteraPlainBook';
	font-size: 25px;
	line-height: 36px;
	color: #fff;
	text-align: left;
}


.block-footer .footer-tel a{
	position: relative;
	color: #fff;
}

.block-footer .footer-tel-callback {
	position: absolute;
	content: '';
	width: 25px;
	height: 20px;
	top: 9px;
	left: 198px;
	background:	url("../images/svg/callback_footer.svg") 0 0 no-repeat;
	cursor: pointer;
}

.block-footer .footer-add-request {
	float: right;
	width: 50%;
	text-align: right;
}

.block-footer .add-request-btn {
	position: relative;
	padding: 0;
	margin: 0;
	width: 170px;
	height: 40px;
	font-family: 'LitteraPlainBold';
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .5);
}

.block-footer .add-request-btn span {
	position: absolute;
	top: 11px;
	left: 22px;
	width: 130px;
	z-index: 999;
}

.block-footer .add-request-btn .bg {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #ffa500;
}

/* ==========================================================================
	 404 Page >>>
	 ========================================================================== */

main.errorpage {
	min-height: 900px;
	background: #3d3639 url("../images/bg_image_404.jpg") center center no-repeat;
	background-size: cover;
}

.block-errorpage {
	padding-top: 87px;
}

.errorpage-wrapper {
	padding-left: 101px;
}

.block-errorpage .errorpage-title {
	margin-bottom: 37px;
	font-family: 'LitteraPlainBold';
	font-size: 66px;
	line-height: 72px;
	color: #fff;
}

.block-errorpage .errorpage-title span {
	position: relative;
}

.block-errorpage .errorpage-title span::after {
	position: absolute;
	content: '';
	width: 83px;
	height: 6px;
	top: 36px;
	left: -106px;
	background-color: #ffa500;
}

.block-errorpage .errorpage-description {
	margin-bottom: 85px;
	padding-right: 310px;
	font-family: 'LitteraPlainLight';
	font-size: 24px;
	line-height: 36px;
	color: #fff;
}

.block-errorpage .errorpage-description a{
	color: #ffa500;
}


.block-errorpage .errorpage-menu a{
	font-family: 'LitteraPlainLight';
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}


